p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create columns */
.column {
  padding: 5px;
  float: left;
}

/*old.column {
  width: auto;
  float: left;
} */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}